<h1>
    <a class="atitle" href="{{ path('main_home') }}">
        <img src="{{ asset('img/checklist.svg') }}" alt="Accueil">
        <div> My Bucket List </div>
    </a>
    {% include '/header/nav.html.twig' %}
</h1>
