{% extends 'base.html.twig' %}

{% block title %} Bucket-List | Accueil
{% endblock %}

{% block body %}
    <ul>
        Liste des choses à faire dans la vie !
        <li>

        </li>
    </ul>
{% endblock %}