<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-List{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="{{ asset('img/checklist.svg') }}">
    <body>
    <div class="container">
        <header>
        {% include '/header/header.html.twig' %}
    </header>
    <main>
        {% block style %}{% endblock %}
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include '/footer.html.twig' %}
    </footer>
    </div>
    </body>
</html>
